*{
    box-sizing:border-box;
    padding: 0;
    margin:0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size:32px;
    background-image: url(/images/pattern-curve.svg), url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position:bottom left, right top;
    background-size:initial, contain;
}

main{
    display: flex;
    /*grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "texts, photos" ;*/
    img{        
        box-shadow: 0vh 2vh 39px black;
        width:auto;
        height: 90%;
        border-radius: 1vh;
        margin: 9vh 14vh 0 0;
    }
    #developer{
        display:none;
    }
}

#texts{
    display: flex;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position:18% 17%;
    align-items: center;
    margin-left: 18vh;
    grid-area:texts;
    #john{
        display: none;
    }
    .comment{
        font-weight:300;
        font-size: 100%;
        color:black;
    }
    span{
        font-weight:700;
        color:black;
    }
    p{
        font-weight:300;
        color:hsl(240, 18%, 77%);
        font-size: 60%;
    }
}

/*#photos{
    border:2px solid red;
    display: flex;
    height:100%;
    width:100%;
    margin:1% 7% 0 0;
    grid-area:photos;
}*/
    
