*{
    box-sizing:border-box;
    padding: 0;
    margin:0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size:32px;
    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position:bottom left;
}

#flex{
    display: flex;
}

#texts{
    display: flex;
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position:18% 17%;
    align-items: center;
    margin-left: 25vh;
    #john{
        display: none;
    }
    .comment{
        font-weight:300;
        font-size: 100%;
        color:black;
    }
    span{
        font-weight:700;
        color:black;
    }
    p{
        font-weight:300;
        color:hsl(240, 18%, 77%);
        font-size: 60%;
    }
}

#photos{
    display: flex;
    border:2px solid red;
    height:100%;
    width:100%;
    img{        
        box-shadow: 0vh 2vh 39px black;
    }
    #developer{
        display:none;
    }
}