#buttons{
    display:flex;
    //align-content: center;
    margin:0 0 0vh 0vh;
    position:relative;
    bottom:4vh;
    left:8.5vh;
    box-shadow:20px 20px 50px grey;
    height:59px;
    width:118px;
    border-radius: 26px 26px 26px 26px;
    #left{
        height: 59px;
        width:59px;
        border-radius: 80px 0 0 80px;
        border:none;
    }
    #right{
        height: 59px;
        width:59px;
        border-radius: 0 80px 80px 0;
        border:none;
    }
    #left:active{
        transform: translateX(-1vh);
    }
    #right:active{
        transform: translateX(1vh);
    }
}



