*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size:32px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "texts photos";
    margin: 8vh 20vh;
    #engineer{
        z-index: -1;
    }
}

#texts{    
    grid-area:texts;
}

#photos{
    grid-area:photos;
}
#tanya{
    position:absolute;
    padding-right:89vh;
    margin-top:27vh;
}
#developer{
    display:none;
}
#john{
    position:absolute;
    padding-right:80vh;
    margin-top:27vh;
    display:none;
}

.comment{
    font-weight:300;
    font-size: 100%;
    color:black;
}

span{
    font-weight:700;
    color:black;
}
p{
    font-weight:300;
    color:hsl(240, 18%, 77%);
    font-size: 60%;
}