// პლანშეტი

@media screen and (max-width:768px){

    main{
        margin: 2vh 2vh;
    }
    #tanya{
        padding-right:75vh;
        margin-top:5vh;
        text-align: center;
    }

}

@media screen and (min-width:1440px){

    #tanya{
        padding-right:71vh;
        margin-top:22vh;
    }

}

@media screen and (min-width:2560px){

    #tanya{
        padding-right:45vh;
        margin-top:14vh;
    }

}