@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  background-image: url(/images/pattern-curve.svg), url(/images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom left, right top;
  background-size: initial, contain;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "texts photos";
  margin: 8vh 20vh;
}

#texts {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: texts;
  background-image: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: 15vh 16.5vh;
}

#texts #tanya {
  position: absolute;
  padding-right: 89vh;
  margin-top: 27vh;
}

#texts #john {
  position: absolute;
  padding-right: 80vh;
  margin-top: 27vh;
  display: none;
}

#texts .comment {
  font-weight: 300;
  font-size: 100%;
  color: black;
}

#texts span {
  font-weight: 700;
  color: black;
}

#texts p {
  font-weight: 300;
  color: #babacf;
  font-size: 60%;
}

#photos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: photos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#photos #engineer {
  z-index: -1;
}

#photos #developer {
  display: none;
}

@media screen and (max-width: 375px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "photos" "texts";
    margin: 0vh 0vh;
  }
  #texts {
    background-position: center 0vh;
    text-align: center;
  }
  #texts #tanya {
    position: initial;
    padding-right: 0vh;
    margin-top: 0vh;
  }
  #texts #john {
    position: initial;
    padding-right: 0vh;
    margin-top: 0vh;
  }
  #photos #engineer {
    width: 100%;
  }
  #photos #developer {
    width: 100%;
  }
  #buttons {
    margin: 0 0 0vh 15vh;
    position: initial;
    bottom: 0vh;
    left: 0vh;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 2vh 2vh;
  }
  #tanya {
    padding-right: 75vh;
    margin-top: 5vh;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  #tanya {
    padding-right: 71vh;
    margin-top: 22vh;
  }
  #texts {
    background-position: 13vh 16.5vh;
  }
}

@media screen and (min-width: 2560px) {
  #tanya {
    padding-right: 45vh;
    margin-top: 14vh;
  }
  #texts {
    background-position: 07vh 22vh;
  }
}

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0vh 0vh;
  position: relative;
  bottom: 4vh;
  left: 8.5vh;
  -webkit-box-shadow: 20px 20px 50px grey;
          box-shadow: 20px 20px 50px grey;
  height: 59px;
  width: 118px;
  border-radius: 26px 26px 26px 26px;
}

#buttons #left {
  height: 59px;
  width: 59px;
  border-radius: 80px 0 0 80px;
  border: none;
}

#buttons #right {
  height: 59px;
  width: 59px;
  border-radius: 0 80px 80px 0;
  border: none;
}

#buttons #left:active {
  -webkit-transform: translateX(-1vh);
          transform: translateX(-1vh);
}

#buttons #right:active {
  -webkit-transform: translateX(1vh);
          transform: translateX(1vh);
}
/*# sourceMappingURL=style.css.map */